[Unit]
Description=CJ-Vision Service

[Service]
Type=simple
Restart=always
ExecStart=/home/vision/cjVision/Core/src/latest/build/cjVision
WorkingDirectory=/home/vision

[Install]
WantedBy=multi-user.target